
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-inline: auto;
}
ul {
    display: flex;

   li {
        list-style: none;
        margin-inline: 10px;
    }
}

a:visited {
    color: #101e19;
    text-decoration: none;
}
a:link { 
    text-decoration: none; 
  } 

a:hover {
    color:#495E57;
    font-weight: bold;
}